// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Transformicon Color:
$navicon-color: $pos;

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

nav {
	padding-top: 15px;

}

.logo {
	float: left;
	max-width: 100px;
	img {
		width: 100%;
	}
	@include break($d) {
		max-width: 150px;
	}
}

.getquote {
	float: right;
	text-align: center;
	color: $pos;
	.btn {
		border-width: 4px;
		border-style: double;
		border-color: $pos;
		color: $pos;
		padding: 5px 10px;
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
		&:hover {
			border-style: solid;
		}
		@include break($d) {
			margin-top: 15px;
			padding: 10px 20px;
		}
	}
	.orCall {
		opacity: 0.5;
	}
}

.typeset {
	a {
		&:hover {
			border-bottom: 1px solid $primary;
		}
	}
	ul, ol {
		margin-left: 15px;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		@include break($b) {
			margin: 0 0 30px 0;
			clear: both;
			width: 100%;
		}
	}
	.full-width {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {

		@include break($b) {
			float: right;
			margin: 0 0 15px 30px;
			width: 40%;
		}
	}
	.left {
		@include break($b) {
			float: left;
			margin: 0 30px 15px 0;
			width: 40%;
		}
	}

	blockquote {
		padding: 5%;
		clear: both;
		background-color: $secondary;
		color: $pos;
		@include break($b) {
			clear: none;
			float: right;
		}
		p {
			&:before {
				content: "“ ";
			}
			&:after {
				content: " ”";	
			}
		}
		i {
			font-size: em-font(10px);
		}
	}
	figure {
		position: relative;
		&:hover {
			box-shadow: 0 0 1px 2px $secondary;
		}
		img {
			width: 100%;
			margin: 0;
			margin-bottom: -4px;
		}
		&.striped {
			figcaption {
				background-color: transparent;
			}
		}
		figcaption {
			position: absolute;
			bottom: 20px;
			left: 0px;
			padding: 10px 20px;
			background-color: transparentize($secondary, 0.2);
			.type {
				text-transform: uppercase;
				font-family: sans-serif;
				font-size: $s10;
				color: $pos;
				margin: 0;
			}
			.title {
				font-family: serif;
				color: $pos;
				font-size: $s5;
				margin: 0;
			}
			@include break($c) {
				bottom: 10px;
				left: 0px;
				padding: 5px 10px;
				.type {
					font-size: $s10;
				}
				.title {
					font-size: $s8;
				}


			}
			@include break($d) {
				position: absolute;
				bottom: 20px;
				left: 0px;
				padding: 10px 20px;
				background-color: transparentize($secondary, 0.2);
				color: $pos;
				.type {
					text-transform: uppercase;
					font-family: sans-serif;
					font-size: $s11;
				}
				.title {
					font-family: serif;
					font-size: $s6;
				}
			}
		}
	}
}


////////////
// LAYOUT //
////////////

.row.typeset {
	padding-top: 20px;
	padding-bottom: 20px;
}

.welcome {
	color: $pos;
	// width: 75%;
	margin-top: 25px;
	a {
		color: $pos;
		border-bottom: 1px solid $pos;
	}
	@include break($d) {
		margin-top: 50px;
		a {
			border-bottom: 0 solid $pos;
		}
	}
}

.hero-headline {
	font-size: $s3;
	line-height: $s3;
	font-family: serif;
	text-transform: uppercase;
	font-weight: 100;
	span {
		font-size: $s3;
		line-height: $s3;
	}
	@include break($c) {
		font-size: $s2;
		line-height: $s2;
		span {
			font-size: $s2;
			line-height: $s2;
			display: block;
			clear: both;
		}
	}
	@include break($d) {
		font-size: $hero;
		line-height: $hero;
		span {
			font-size: $hero;
			line-height: $hero;
		}
	}
	b {
		text-decoration: underline;
		font-weight: bold;
	}
}

.hero-sub {
	margin-top: 15px;
	width: 75%;
	opacity: 0.5;
}

.typeset ul.acc {
	margin-left: 0;
	li {
		background-color: lighten($secondary, 15%);
	}
}

.acc li {
	list-style-type: none;
}

.acc li .acc-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
}

.acc li .acc-head i {
	position: absolute;
	top: 22px;
	right: 15px;
}

.acc-panel {
	padding: 0px 20px 10px;
}

.products {
	margin-bottom: 35px;
}

.description {
	padding: 10px 20px;
	@include break($c) {
		padding: 5px 10px;
	}
	@include break($d) {
		padding: 10px 20px;
	}
}

.pagefoot {
	background-color: $secondary;
	margin-top: 50px;
	padding: 15px 0;
	color: $pos;
	text-align: right;
}

// TOP ANIMATION

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -400px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -400px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -400px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -400px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -400px 0; }
}

.awning {
	background-image: url("../img/short-awning.png");
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 360px;
	@include break($d) {
		background-image: url("../img/awning.png");
		height: 560px;
	}

	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
}

.ftg-filters {
	text-transform: uppercase;
	color: $neg;
	font-size: $s10;
}

.call-out {
	background-color: $secondary;
	padding: 50px 0;
	margin: 50px 0;
	color: $pos;
	text-align: center;
	&.endcap {
		margin: 0;
	}
	blockquote {
		font-family: serif;
		font-size: $s7;
		line-height: $s7 + 15;
		&.extra {
			font-size: $s8;
			line-height: $s8 + 15;
		}
	}
	i {
		display: block;
		margin-top: 12px;
		font-size: $s10;	
	}
	@include break($d) {
		blockquote {
			font-size: $s5;
			line-height: $s5 + 15;
			&.extra {
				font-size: $s7;
				line-height: $s7 + 15;
				padding: 0px 25px;
			}
		}
		i {
			font-size: $s10;	
		}
	}
}

@keyframes aniBtn {
	0% { background-position: 0 0; }
	100% { background-position: -88px 0; }
}
@-moz-keyframes aniBtn {
	0% { background-position: 0 0; }
	100% { background-position: -88px 0; }
}
@-webkit-keyframes aniBtn {
	0% { background-position: 0 0; }
	100% { background-position: -88px 0; }
}
@-ms-keyframes aniBtn {
	0% { background-position: 0 0; }
	100% { background-position: -88px 0; }
}
@-o-keyframes aniBtn {
	0% { background-position: 0 0; }
	100% { background-position: -88px 0; }
}

.striped {
	background-image: url("../img/stripe.png");
	background-repeat: repeat;
	background-position: 0px 0px;
	img {
		opacity: 0;
	}
	figcaption {
		background: transparent;
	}
	&:hover {
		animation: aniBtn 5s linear infinite;
		-moz-animation: aniBtn 5s linear infinite;
		-webkit-animation: aniBtn 5s linear infinite;
		-ms-animation: aniBtn 5s linear infinite;
		-o-animation: aniBtn 5s linear infinite;
	}
}

.about-us {
	margin-top: 50px;
}
.our-features {
	margin-top: 25px;
	bottom: 15px;
}
.brand-names {
	margin-bottom: 50px;
	@include break($c) {
		margin-bottom: 170px;
		margin-top: 50px;
	}
	@include break($d) {

	}
	img {
		max-width: 100%;
	}
}

.map {
	background-image: url("../img/servicearea.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	overflow: hidden;

	min-height: 350px;
	position: relative;
	margin-bottom: 30px;
	background-repeat: no-repeat;

	.service-areas {
		padding: 20px;
		max-width: 400px;
		position: relative;
		h1, h2, h3, h4, h5, h6 {
			color: $pos;
		}
		background-color: transparentize($secondary, 0.2);
		float: right;
		color: $pos;
		top: 20px;
		@include break($d) {
			top: 120px;
		}
	}

	@include break($b) {
	min-height: 400px;
		
	}
	@include break($d) {
		min-height: 550px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: scroll;
		background-position: center;
	}
}

.is-cms .remodal-overlay {
	opacity: 1 !important;
	display: block !important;
	position: static !important;
}

.is-cms #gallery-items li {
	float: left;
	width: 20%;
	margin-bottom: 10px;
	margin-right: 10px;
	img {
		width: 100%;
	}
}

.half-col {
	width: 100%;
	@include break($c) {
		width: 49%;
	}
}

.to-right {
	float: right;
}

.next-prev {

	.next, .prev {
		display: none;
		@include break($b) {
			display: inline-block;
		}
		font-size: em-font(40px);
		color: $primary;
		font-weight: bold;
		text-shadow: 0 0 10px $pos;
		margin: 0;
		&:hover {
			color: lighten($primary, 10%);
		}
	}
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
